#root {
  text-align: center;
  color: #fda5f7;
}

.container {
  min-width: 1280px;
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  min-height: 80vh;
}

.counter {
  width: 286px;
  height: 180px;
  border: 2px solid #fda5f7;
  border-radius: 8px;
  padding: 10px;
}

.display {
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #fda5f7;
  padding: 8px;
  border-radius: 10px;
}

.display.red {
  color: #ff1778;
  font-weight: bold;
}

.display.setCounter {
  display: block;
  font-size: 22px;
}

.buttonsWrapper {
  margin-top: 10px;
  border: 2px solid #fda5f7;
  border-radius: 10px;
  padding: 10px 0px;
  display: flex;
  justify-content: space-around;
}

label {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}

input {
  height: 20px;
  margin-left: 20px;
  width: 100px;
  text-align: center;
}

button ~ button {
  margin-left: 5px;
}
